<div class="card">
  <div class="card-header">
   <h3 class="card-title text-center">
    Task
   </h3>
   <div class="card-body">
    <form>
        <div class="form-group">
            <label for="">
                Title
            </label>
            <input type="text" class="form-control" aria-describedby="title">
        </div>
        <div class="form-group">
            <label for="">
                Description
            </label>
            <textarea class="form-control">

            </textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Send Task</button>
    </form>
   </div>
  </div>
</div>
